.react-tabs__tab {
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 0;
    background-color: #efefef;
    text-transform: uppercase;
    font-size: 0.929em;
    padding: 15px 20px;
    font-weight: 600;
    margin-bottom: 1px;
    margin-right: 10px;
}
.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 2px 0;
}
.react-tabs__tab--selected {
    color: #FFF !important;
    background: #BB3C36;
}
.thumnail {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;

}
.containerr{
    width: 85%;
    margin: 20px auto;
}
.mainImage {
    width: 266px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #ccc;
    position: relative;
    transition: transform 0.15s ease 0s;
    margin-bottom: 20px;
}

.mainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all.3s;
}
.overlay{
    background-color: rgb(98 93 93 / 23%);
    width: 266px;
    height: 200px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 200px;
    font-size: 25px;
    color: #fff;
    display: none;
    transition: all.3s;
}
.mainImage:hover img{
    transform: scale(1.1);
    transition: all.3s;
}
.mainImage:hover .overlay{
    display: block;
    transition: all.3s;
}
.photoGallery h2{
    font-size: 17px;
    background-color: #f5f5f5;
    padding: 15px;
    font-weight: 400;
    border-left: 5px solid #FBC805;
    margin-bottom: 15px;
    margin-top: 32px;
}
.imageGroup{
    display: flex;
    gap: 25px;
}
.bgheimage {
    float: left;
    width: 100%;
    background: url(../../../public/images/innerbg.jpg);
    background-size: cover;
    background-position: center right;
    height: 150px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
    margin-bottom: 40px;
}
.gallery-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gallery-flex ul{
    display: flex;
    gap: 10px;
}
.gallery-flex ul li a{
    color: #fff;
    font-size: 14px;
}
.color-active{
    color: #f3a021 !important;
}
.gallery-flex h2{
    color: #fff;
    float: left;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
}
.thumbnail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}