.loan-bg{
    float: left;
    width: 100%;
    padding: 55px 0 30px 0;
    background-color: #f5f5f5;
}
.loan-box{
    background: rgba(255, 255, 255, 0.5) url(../../../public/images/bg-img-9.jpg);
    float: left;
    width: 32%;
    min-height: 120px;
    margin-top: 0;
    text-align: center;
    border: 5px solid #fff;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    height: 174px;
}
.loan-box h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
.loan-box a{
    font-size: 30px;
    text-decoration: none;
    transition: all 0.2s linear;
    color: #fff;
}
.loan-box p{
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
}
.rupee{
    color: transparent;
    margin-top: -40px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: -10px;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
}
.loan-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px){
    .loan-flex {
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    .loan-box {
        background: rgba(255, 255, 255, 0.5) url(/_next/static/media/bg-img-9.61d1e003.jpg);
        float: left;
        width: 100%;
        min-height: 120px;
        margin-top: 0;
        text-align: center;
        border: 5px solid #fff;
        box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        height: 174px;
        margin-bottom: 50px;
    }
}